
<h1>Coding Portfolio</h1>
	<ul class="portfolio-list">
			<li class="portfoilio-title">
			<a href="http://patrickmichaelsen.com/regretit">Regretit</a> - maintain your Reddit history 
			(<a href="https://github.com/prmichaelsen/regretit">GitHub</a>)
			</li>
			<li class="portfoilio-title">
			<a href="http://patrickmichaelsen.com/spotify">Spotify UI Redesign</a> - responsive Spotify UI clone 
			(<a href="https://github.com/prmichaelsen/spotify_clone">GitHub</a>)
			</li>
			<li class="portfoilio-title">
			<a href="http://patrickmichaelsen.com/epifinder">Passport Tutorial</a> - basic auth and forgot password implementation 
			(<a href="https://github.com/prmichaelsen/epifinder_api">GitHub</a>)
			</li>
	</ul>
