<div id='developer-menu-bar'>
	<div class='developer-button-container'>
		<span class='developer-button'><a href='<%= focus %>/blog'>blog</a></span>
	</div> 
	<div class='developer-button-container'>
		<span class='developer-button'><a href='<%= focus %>/portfolio'>portfolio</a></span>
	</div> 
	<div class='developer-button-container'>
		<span class='developer-button'>about</span>
	</div> 
</div>
