<div id='developer-menu-bar'>
	<div class='developer-button-container'>
		<span class='developer-button'><a href='blog'>blog</a></span>
	</div> 
	<div class='developer-button-container'>
		<span class='developer-button'>portfolio</span>
	</div> 
	<div class='developer-button-container'>
		<span class='developer-button'>about</span>
	</div> 
</div>
