
<div id="home-container">
	<div>
		<span id="home-title"> patrick michaelsen</span>
	</div>
	<div class="home-button">
		<span class="home-content"> actor</span>
	</div>
	<div class="home-button">
		<a href="developer"><span class="home-content"> developer</span></a>
	</div>
	<div class="home-button">
		<span class="home-content"> musician </span>
	</div>
</div>
<footer>
	<p>View the <a href="https://github.com/prmichaelsen/patrickmichaelsen">source code</a> on GitHub</p>
</footer>
