<div id='developer-container'>
	<div id='developer-menu-bar-container'>
		<span id='developer-title'>musician</span>
		<div class='colorstrip'/>
		<%- include('developer.menubar.ejs') %>
		<div class='colorstrip'/>
		<div id='developer-content'></div>
	</div>
</div>
